{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>
<script type="text/javascript" src="{{site.baseurl}}/static/js/search.js?t={{ buildAt }}"></script>

{%- if site.extClickEffect %}
<!-- 点击页面文字冒出特效 -->
<script>
  ;(function(){
    var textArr = ['我', '爱', '吃', '生', '蚝']
    var index = 0  // 用于追踪当前文字索引
  
    function sequentialClickEffect(event) {

      var currentText = textArr[index]

      var span = document.createElement('span')
      span.textContent = currentText
      span.style.position = 'absolute'
      span.style.left = event.pageX + 'px' // 使用点击位置作为文字位置
      span.style.top = event.pageY + 'px'
      span.style.fontSize = '20px' // 可以调整字体大小
      span.style.color = '#4BB596' // 设置字体颜色
      span.style.whiteSpace = 'nowrap'
  
      document.body.appendChild(span)

      index = (index + 1) % textArr.length

      setTimeout(function() {
        span.remove()
      }, 1000)
    }

    document.addEventListener('click', sequentialClickEffect)
  })()
  </script>
  
{% endif %}

{%- if page.layout=="mypost" -%}
  {%- if site.extMath -%}
    {% include ext-mathjax.html %}
  {% elsif page.extMath %}
    {% include ext-mathjax.html %}
  {% endif %}
{% endif %}

{%- if site.extCount %}
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
